
form  {
    margin-top: 169px;
}

body {
    
    background-color: #f0e4e4;
    /* Light pastel background */
    color: #333;
    background-image: url(/logo/anniv2.jpg  );
    background-size: cover;
}

h1 {
    font-size: 48px;
    margin: 0;
    padding-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #bf0603;

}

h2 {
    font-size: 24px;
    color: #bf0603;
    /* Darker pastel pink */
    margin: 30px 0 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.underline {
    text-decoration: none;
    position: relative;
}

.underline::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.container {
    width: 70%;
    margin: auto;
    height: 120%;

    padding: 20px;
    background-color: #ffffff;
    /* White background for form */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="time"],
input[type="number"],
input[type="range"],
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #c1121f;

    /* Soft border color */
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="date"]:hover,
input[type="time"]:hover,
input[type="number"]:hover,
input[type="range"]:hover,
select:hover {
    border-color: #780000;
    /* Change border color on hover */
}

button {
    background-color: #e63946;
    /* Soft pastel pink */
    color: #f1faee;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background-color: #370617;
    /* Slightly darker on hover */
    color: #ffffff;
    font-weight: bold;
    transform: scale(1.05);
    /* Scale effect on hover */
}