.header {
    display: flex;
    flex-direction: row;
    height: 140px;
    justify-content: space-between;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid;
    border-bottom-color: rgb(223, 222, 222);
    border-bottom-width: 1px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 100;
}
   
